.mp-eccomerce-previews-popup{
	position:absolute;
	width:400px;
	z-index:999999999999999999;	
	visibility:hidden;
}
.archive .mp-ecommerce-preview{
	margin:0px;
	padding:0px;	
}
.mp-ecommerce-preview-image{
	width:100%;
}