.mp-ecommerce-preview{
	position:relative;	
	display:inline-block;
}
.mp-eccomerce-previews-popup{
	position:absolute;
	width:400px;
	max-height:400px;
	z-index:9999999999999;	
	visibility:hidden;
	opacity:0;
	float:left;
			
	-webkit-transition: opacity .2s ease-in-out, width .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out, width .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out, width .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out, width .2s ease-in-out;
	transition: opacity .2s ease-in-out, width .2s ease-in-out;
	
}
.mp-eccomerce-previews-popup .mp-ecommerce-preview,
.mp-eccomerce-previews-popup .mp-ecommerce-preview .mp-ecommerce-preview-container{
	float:left;	
}
.mp-eccomerce-previews-loading{
	position:absolute;
	z-index:9999999999999;	
}
.archive .mp-ecommerce-preview{
	margin:0px;
	padding:0px;	
}
.mp-ecommerce-preview-image-container{
	display:inline-block;	
}
.mp-ecommerce-preview-image{
	max-width:100%;
	float:left;
}

.mp-eccomerce-previews-loading{
	font-size:15px;
	margin-left:10px;
}
.mp-eccomerce-previews-loading:before{
	content: "\f021";
	font-family: 'fontawesome';	
	opacity:.4;
}

.mp-video-skinner{
	float:left;
}